@charset "utf-8";

.home-wrap h1{
    color:#C8C8C8 ;
    font-size: 40px;
    cursor: pointer;

}

.home-wrap img{
    /* 포지션 값을 주었을떄는 위치값을 정해줘서 중양 정렬 시켜준다 . */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.4s;
    }

.home-wrap p{
    color: #434343;
    
}


.home-wrap a:link {
    color: white;
}
.home-wrap a:visited{
    color: white;
}
.img-hover:hover img{
    opacity: 1;
}